/* ls.CSS 4.15 December 2020 by Jan Egil and Borge Refsnes */
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}summary{display:list-item}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent}a:active,a:hover{outline-width:0}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
b,strong{font-weight:bolder}dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea,optgroup{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,[type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}
.ls-serif{font-family:serif}.ls-sans-serif{font-family:sans-serif}.ls-cursive{font-family:cursive}.ls-monospace{font-family:monospace}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.ls-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.ls-image{max-width:100%;height:auto}img{vertical-align:middle}a{color:inherit}
.ls-table,.ls-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.ls-table-all{border:1px solid #ccc}
.ls-bordered tr,.ls-table-all tr{border-bottom:1px solid #ddd}.ls-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.ls-table-all tr:nth-child(odd){background-color:#fff}.ls-table-all tr:nth-child(even){background-color:#f1f1f1}
.ls-hoverable tbody tr:hover,.ls-ul.ls-hoverable li:hover{background-color:#ccc}.ls-centered tr th,.ls-centered tr td{text-align:center}
.ls-table td,.ls-table th,.ls-table-all td,.ls-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.ls-table th:first-child,.ls-table td:first-child,.ls-table-all th:first-child,.ls-table-all td:first-child{padding-left:16px}
.ls-btn,.ls-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.ls-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.ls-btn,.ls-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.ls-disabled,.ls-btn:disabled,.ls-button:disabled{cursor:not-allowed;opacity:0.3}.ls-disabled *,:disabled *{pointer-events:none}
.ls-btn.ls-disabled:hover,.ls-btn:disabled:hover{box-shadow:none}
.ls-badge,.ls-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.ls-badge{border-radius:50%}
.ls-ul{list-style-type:none;padding:0;margin:0}.ls-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.ls-ul li:last-child{border-bottom:none}
.ls-tooltip,.ls-display-container{position:relative}.ls-tooltip .ls-text{display:none}.ls-tooltip:hover .ls-text{display:inline-block}
.ls-ripple:active{opacity:0.5}.ls-ripple{transition:opacity 0s}
.ls-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.ls-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.ls-dropdown-click,.ls-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.ls-dropdown-hover:hover .ls-dropdown-content{display:block}
.ls-dropdown-hover:first-child,.ls-dropdown-click:hover{background-color:#ccc;color:#000}
.ls-dropdown-hover:hover > .ls-button:first-child,.ls-dropdown-click:hover > .ls-button:first-child{background-color:#ccc;color:#000}
.ls-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0;z-index:1}
.ls-check,.ls-radio{width:24px;height:24px;position:relative;top:6px}
.ls-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.ls-bar-block .ls-dropdown-hover,.ls-bar-block .ls-dropdown-click{width:100%}
.ls-bar-block .ls-dropdown-hover .ls-dropdown-content,.ls-bar-block .ls-dropdown-click .ls-dropdown-content{min-width:100%}
.ls-bar-block .ls-dropdown-hover .ls-button,.ls-bar-block .ls-dropdown-click .ls-button{width:100%;text-align:left;padding:8px 16px}
.ls-main,#main{transition:margin-left .4s}
.ls-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.ls-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.ls-bar{width:100%;overflow:hidden}.ls-center .ls-bar{display:inline-block;width:auto}
.ls-bar .ls-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.ls-bar .ls-dropdown-hover,.ls-bar .ls-dropdown-click{position:static;float:left}
.ls-bar .ls-button{white-space:normal}
.ls-bar-block .ls-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.ls-bar-block.ls-center .ls-bar-item{text-align:center}.ls-block{display:block;width:100%}
.ls-responsive{display:block;overflow-x:auto}
.ls-container:after,.ls-container:before,.ls-panel:after,.ls-panel:before,.ls-row:after,.ls-row:before,.ls-row-padding:after,.ls-row-padding:before,
.ls-cell-row:before,.ls-cell-row:after,.ls-clear:after,.ls-clear:before,.ls-bar:before,.ls-bar:after{content:"";display:table;clear:both}
.ls-col,.ls-half,.ls-third,.ls-twothird,.ls-threequarter,.ls-quarter{float:left;width:100%}
.ls-col.s1{width:8.33333%}.ls-col.s2{width:16.66666%}.ls-col.s3{width:24.99999%}.ls-col.s4{width:33.33333%}
.ls-col.s5{width:41.66666%}.ls-col.s6{width:49.99999%}.ls-col.s7{width:58.33333%}.ls-col.s8{width:66.66666%}
.ls-col.s9{width:74.99999%}.ls-col.s10{width:83.33333%}.ls-col.s11{width:91.66666%}.ls-col.s12{width:99.99999%}
@media (min-width:601px){.ls-col.m1{width:8.33333%}.ls-col.m2{width:16.66666%}.ls-col.m3,.ls-quarter{width:24.99999%}.ls-col.m4,.ls-third{width:33.33333%}
.ls-col.m5{width:41.66666%}.ls-col.m6,.ls-half{width:49.99999%}.ls-col.m7{width:58.33333%}.ls-col.m8,.ls-twothird{width:66.66666%}
.ls-col.m9,.ls-threequarter{width:74.99999%}.ls-col.m10{width:83.33333%}.ls-col.m11{width:91.66666%}.ls-col.m12{width:99.99999%}}
@media (min-width:993px){.ls-col.l1{width:8.33333%}.ls-col.l2{width:16.66666%}.ls-col.l3{width:24.99999%}.ls-col.l4{width:33.33333%}
.ls-col.l5{width:41.66666%}.ls-col.l6{width:49.99999%}.ls-col.l7{width:58.33333%}.ls-col.l8{width:66.66666%}
.ls-col.l9{width:74.99999%}.ls-col.l10{width:83.33333%}.ls-col.l11{width:91.66666%}.ls-col.l12{width:99.99999%}}
.ls-rest{overflow:hidden}.ls-stretch{margin-left:-16px;margin-right:-16px}
.ls-content,.ls-auto{margin-left:auto;margin-right:auto}.ls-content{max-width:980px}.ls-auto{max-width:1140px}
.ls-cell-row{display:table;width:100%}.ls-cell{display:table-cell}
.ls-cell-top{vertical-align:top}.ls-cell-middle{vertical-align:middle}.ls-cell-bottom{vertical-align:bottom}
.ls-hide{display:none!important}.ls-show-block,.ls-show{display:block!important}.ls-show-inline-block{display:inline-block!important}
@media (max-width:1205px){.ls-auto{max-width:95%}}
@media (max-width:600px){.ls-modal-content{margin:0 10px;width:auto!important}.ls-modal{padding-top:30px}
.ls-dropdown-hover.ls-mobile .ls-dropdown-content,.ls-dropdown-click.ls-mobile .ls-dropdown-content{position:relative}	
.ls-hide-small{display:none!important}.ls-mobile{display:block;width:100%!important}.ls-bar-item.ls-mobile,.ls-dropdown-hover.ls-mobile,.ls-dropdown-click.ls-mobile{text-align:center}
.ls-dropdown-hover.ls-mobile,.ls-dropdown-hover.ls-mobile .ls-btn,.ls-dropdown-hover.ls-mobile .ls-button,.ls-dropdown-click.ls-mobile,.ls-dropdown-click.ls-mobile .ls-btn,.ls-dropdown-click.ls-mobile .ls-button{width:100%}}
@media (max-width:768px){.ls-modal-content{width:500px}.ls-modal{padding-top:50px}}
@media (min-width:993px){.ls-modal-content{width:900px}.ls-hide-large{display:none!important}.ls-sidebar.ls-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.ls-hide-medium{display:none!important}}
@media (max-width:992px){.ls-sidebar.ls-collapse{display:none}.ls-main{margin-left:0!important;margin-right:0!important}.ls-auto{max-width:100%}}
.ls-top,.ls-bottom{position:fixed;width:100%;z-index:1}.ls-top{top:0}.ls-bottom{bottom:0}
.ls-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.ls-display-topleft{position:absolute;left:0;top:0}.ls-display-topright{position:absolute;right:0;top:0}
.ls-display-bottomleft{position:absolute;left:0;bottom:0}.ls-display-bottomright{position:absolute;right:0;bottom:0}
.ls-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.ls-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.ls-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.ls-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.ls-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.ls-display-container:hover .ls-display-hover{display:block}.ls-display-container:hover span.ls-display-hover{display:inline-block}.ls-display-hover{display:none}
.ls-display-position{position:absolute}
.ls-circle{border-radius:50%}
.ls-round-small{border-radius:2px}.ls-round,.ls-round-medium{border-radius:4px}.ls-round-large{border-radius:8px}.ls-round-xlarge{border-radius:16px}.ls-round-xxlarge{border-radius:32px}
.ls-row-padding,.ls-row-padding>.ls-half,.ls-row-padding>.ls-third,.ls-row-padding>.ls-twothird,.ls-row-padding>.ls-threequarter,.ls-row-padding>.ls-quarter,.ls-row-padding>.ls-col{padding:0 8px}
.ls-container,.ls-panel{padding:0.01em 16px}.ls-panel{margin-top:16px;margin-bottom:16px}
.ls-code,.ls-codespan{font-family:Consolas,"courier new";font-size:16px}
.ls-code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.ls-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.ls-card,.ls-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.ls-card-4,.ls-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.ls-spin{animation:ls-spin 2s infinite linear}@keyframes ls-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.ls-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.ls-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.ls-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.ls-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.ls-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.ls-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.ls-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.ls-animate-input{transition:width 0.4s ease-in-out}.ls-animate-input:focus{width:100%!important}
.ls-opacity,.ls-hover-opacity:hover{opacity:0.60}.ls-opacity-off,.ls-hover-opacity-off:hover{opacity:1}
.ls-opacity-max{opacity:0.25}.ls-opacity-min{opacity:0.75}
.ls-greyscale-max,.ls-grayscale-max,.ls-hover-greyscale:hover,.ls-hover-grayscale:hover{filter:grayscale(100%)}
.ls-greyscale,.ls-grayscale{filter:grayscale(75%)}.ls-greyscale-min,.ls-grayscale-min{filter:grayscale(50%)}
.ls-sepia{filter:sepia(75%)}.ls-sepia-max,.ls-hover-sepia:hover{filter:sepia(100%)}.ls-sepia-min{filter:sepia(50%)}
.ls-tiny{font-size:10px!important}.ls-small{font-size:12px!important}.ls-medium{font-size:15px!important}.ls-large{font-size:18px!important}
.ls-xlarge{font-size:24px!important}.ls-xxlarge{font-size:36px!important}.ls-xxxlarge{font-size:48px!important}.ls-jumbo{font-size:64px!important}
.ls-left-align{text-align:left!important}.ls-right-align{text-align:right!important}.ls-justify{text-align:justify!important}.ls-center{text-align:center!important}
.ls-border-0{border:0!important}.ls-border{border:1px solid #ccc!important}
.ls-border-top{border-top:1px solid #ccc!important}.ls-border-bottom{border-bottom:1px solid #ccc!important}
.ls-border-left{border-left:1px solid #ccc!important}.ls-border-right{border-right:1px solid #ccc!important}
.ls-topbar{border-top:6px solid #ccc!important}.ls-bottombar{border-bottom:6px solid #ccc!important}
.ls-leftbar{border-left:6px solid #ccc!important}.ls-rightbar{border-right:6px solid #ccc!important}
.ls-section,.ls-code{margin-top:16px!important;margin-bottom:16px!important}
.ls-margin{margin:16px!important}.ls-margin-top{margin-top:16px!important}.ls-margin-bottom{margin-bottom:16px!important}
.ls-margin-left{margin-left:16px!important}.ls-margin-right{margin-right:16px!important}
.ls-padding-small{padding:4px 8px!important}.ls-padding{padding:8px 16px!important}.ls-padding-large{padding:12px 24px!important}
.ls-padding-16{padding-top:16px!important;padding-bottom:16px!important}.ls-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.ls-padding-32{padding-top:32px!important;padding-bottom:32px!important}.ls-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.ls-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.ls-padding-top-64{padding-top:64px!important}.ls-padding-top-48{padding-top:48px!important}
.ls-padding-top-32{padding-top:32px!important}.ls-padding-top-24{padding-top:24px!important}
.ls-left{float:left!important}.ls-right{float:right!important}
.ls-button:hover{color:#000!important;background-color:#ccc!important}
.ls-transparent,.ls-hover-none:hover{background-color:transparent!important}
.ls-hover-none:hover{box-shadow:none!important}
/* Colors */
.ls-amber,.ls-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.ls-aqua,.ls-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.ls-blue,.ls-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.ls-light-blue,.ls-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.ls-brown,.ls-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.ls-cyan,.ls-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.ls-blue-grey,.ls-hover-blue-grey:hover,.ls-blue-gray,.ls-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.ls-green,.ls-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.ls-light-green,.ls-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.ls-indigo,.ls-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.ls-khaki,.ls-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.ls-lime,.ls-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.ls-orange,.ls-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.ls-deep-orange,.ls-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.ls-pink,.ls-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.ls-purple,.ls-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.ls-deep-purple,.ls-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.ls-red,.ls-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.ls-sand,.ls-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.ls-teal,.ls-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.ls-yellow,.ls-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.ls-white,.ls-hover-white:hover{color:#000!important;background-color:#fff!important}
.ls-black,.ls-hover-black:hover{color:#fff!important;background-color:#000!important}
.ls-grey,.ls-hover-grey:hover,.ls-gray,.ls-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.ls-light-grey,.ls-hover-light-grey:hover,.ls-light-gray,.ls-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.ls-dark-grey,.ls-hover-dark-grey:hover,.ls-dark-gray,.ls-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.ls-pale-red,.ls-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.ls-pale-green,.ls-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.ls-pale-yellow,.ls-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.ls-pale-blue,.ls-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.ls-text-amber,.ls-hover-text-amber:hover{color:#ffc107!important}
.ls-text-aqua,.ls-hover-text-aqua:hover{color:#00ffff!important}
.ls-text-blue,.ls-hover-text-blue:hover{color:#2196F3!important}
.ls-text-light-blue,.ls-hover-text-light-blue:hover{color:#87CEEB!important}
.ls-text-brown,.ls-hover-text-brown:hover{color:#795548!important}
.ls-text-cyan,.ls-hover-text-cyan:hover{color:#00bcd4!important}
.ls-text-blue-grey,.ls-hover-text-blue-grey:hover,.ls-text-blue-gray,.ls-hover-text-blue-gray:hover{color:#607d8b!important}
.ls-text-green,.ls-hover-text-green:hover{color:#4CAF50!important}
.ls-text-light-green,.ls-hover-text-light-green:hover{color:#8bc34a!important}
.ls-text-indigo,.ls-hover-text-indigo:hover{color:#3f51b5!important}
.ls-text-khaki,.ls-hover-text-khaki:hover{color:#b4aa50!important}
.ls-text-lime,.ls-hover-text-lime:hover{color:#cddc39!important}
.ls-text-orange,.ls-hover-text-orange:hover{color:#ff9800!important}
.ls-text-deep-orange,.ls-hover-text-deep-orange:hover{color:#ff5722!important}
.ls-text-pink,.ls-hover-text-pink:hover{color:#e91e63!important}
.ls-text-purple,.ls-hover-text-purple:hover{color:#9c27b0!important}
.ls-text-deep-purple,.ls-hover-text-deep-purple:hover{color:#673ab7!important}
.ls-text-red,.ls-hover-text-red:hover{color:#f44336!important}
.ls-text-sand,.ls-hover-text-sand:hover{color:#fdf5e6!important}
.ls-text-teal,.ls-hover-text-teal:hover{color:#009688!important}
.ls-text-yellow,.ls-hover-text-yellow:hover{color:#d2be0e!important}
.ls-text-white,.ls-hover-text-white:hover{color:#fff!important}
.ls-text-black,.ls-hover-text-black:hover{color:#000!important}
.ls-text-grey,.ls-hover-text-grey:hover,.ls-text-gray,.ls-hover-text-gray:hover{color:#757575!important}
.ls-text-light-grey,.ls-hover-text-light-grey:hover,.ls-text-light-gray,.ls-hover-text-light-gray:hover{color:#f1f1f1!important}
.ls-text-dark-grey,.ls-hover-text-dark-grey:hover,.ls-text-dark-gray,.ls-hover-text-dark-gray:hover{color:#3a3a3a!important}
.ls-border-amber,.ls-hover-border-amber:hover{border-color:#ffc107!important}
.ls-border-aqua,.ls-hover-border-aqua:hover{border-color:#00ffff!important}
.ls-border-blue,.ls-hover-border-blue:hover{border-color:#2196F3!important}
.ls-border-light-blue,.ls-hover-border-light-blue:hover{border-color:#87CEEB!important}
.ls-border-brown,.ls-hover-border-brown:hover{border-color:#795548!important}
.ls-border-cyan,.ls-hover-border-cyan:hover{border-color:#00bcd4!important}
.ls-border-blue-grey,.ls-hover-border-blue-grey:hover,.ls-border-blue-gray,.ls-hover-border-blue-gray:hover{border-color:#607d8b!important}
.ls-border-green,.ls-hover-border-green:hover{border-color:#4CAF50!important}
.ls-border-light-green,.ls-hover-border-light-green:hover{border-color:#8bc34a!important}
.ls-border-indigo,.ls-hover-border-indigo:hover{border-color:#3f51b5!important}
.ls-border-khaki,.ls-hover-border-khaki:hover{border-color:#f0e68c!important}
.ls-border-lime,.ls-hover-border-lime:hover{border-color:#cddc39!important}
.ls-border-orange,.ls-hover-border-orange:hover{border-color:#ff9800!important}
.ls-border-deep-orange,.ls-hover-border-deep-orange:hover{border-color:#ff5722!important}
.ls-border-pink,.ls-hover-border-pink:hover{border-color:#e91e63!important}
.ls-border-purple,.ls-hover-border-purple:hover{border-color:#9c27b0!important}
.ls-border-deep-purple,.ls-hover-border-deep-purple:hover{border-color:#673ab7!important}
.ls-border-red,.ls-hover-border-red:hover{border-color:#f44336!important}
.ls-border-sand,.ls-hover-border-sand:hover{border-color:#fdf5e6!important}
.ls-border-teal,.ls-hover-border-teal:hover{border-color:#009688!important}
.ls-border-yellow,.ls-hover-border-yellow:hover{border-color:#ffeb3b!important}
.ls-border-white,.ls-hover-border-white:hover{border-color:#fff!important}
.ls-border-black,.ls-hover-border-black:hover{border-color:#000!important}
.ls-border-grey,.ls-hover-border-grey:hover,.ls-border-gray,.ls-hover-border-gray:hover{border-color:#9e9e9e!important}
.ls-border-light-grey,.ls-hover-border-light-grey:hover,.ls-border-light-gray,.ls-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.ls-border-dark-grey,.ls-hover-border-dark-grey:hover,.ls-border-dark-gray,.ls-hover-border-dark-gray:hover{border-color:#616161!important}
.ls-border-pale-red,.ls-hover-border-pale-red:hover{border-color:#ffe7e7!important}.ls-border-pale-green,.ls-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.ls-border-pale-yellow,.ls-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.ls-border-pale-blue,.ls-hover-border-pale-blue:hover{border-color:#e7ffff!important}